<div class="container" ng-app="QuoteGenerator">
  <div ng-controller="QuoteCtrl">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Random quote generator</h1>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 quote">
          <div id="spinner" ng-show="fetching">
            <div id="bounce1"></div>
            <div id="bounce2"></div>
            <div id="bounce3"></div>
          </div>
      <p class="lead" ng-hide="fetching">{{allQuotes[count].text}}<br/>
        <span>{{allQuotes[count].author}}</span>
      </p>
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
        <button class="button btn-lg ms-2 ms-lg-0 " (click)="previousQuote()" [disabled]="isPreDisabled">Previous</button>
        <button class="button btn-lg ms-3"(click)="nextQuote()">Next</button>
      </div>
      </div>
      </div>
      </div>
      </div>
  </div>
</div>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer class="alert bg-dark fixed-bottom text-light mb-0 p-3 text-center" style="border-radius: 0px; background-color:black; color:white;height:25px;">
  Created by Ankita Thombare <span> &#174;</span>
 </footer>
